# reusable workflow
name: .lint-charts

# TODO: hide reusable workflow from the UI. Tracked in https://github.com/community/community/discussions/12025

permissions:
  contents: read

on:
  workflow_call:

jobs:
  lint-helm:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.18.3'
      
      - name: Lint Helm Chart
        run: helm lint deploy/cert-manager-webhook-inwx