name: Release Helm Chart

on:
  release:
    types: [ published ]

jobs:
  lint-helm:
    uses: ./.github/workflows/.lint-charts.yml
  # Release Helm Chart to GitHub Pages
  release-chart:
    name: Release Helm Chart
    runs-on: ubuntu-latest
    needs: [lint-helm]
    if: github.event_name == 'release'
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.18.6'
      
      - name: Prepare chart
        run: |
          mkdir -p public
          cp README.md deploy/cert-manager-webhook-inwx/

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: deploy
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"